.foto {
 	background-color: white;
 	border:1px solid #BFBFBF;
    width: 230px;
    margin: auto;
    margin-bottom: 5px;
    margin-top: 35px; 	
 }

 .foto:hover {
 }

 .foto_img {
 	margin-right: 15px;
 	margin-left: 15px;
 	margin-top: 15px;
 	margin-bottom: 45px;
 }

.btn {
	margin: auto;
}