.header_logo_background {
	background-image: url(../assets/images/header_logo_background.jpg);
	width: 100%;
	margin: auto;
	margin-bottom: 16px;

}

.header_logo {
	display: block;
	border-radius: 50%;
	margin-left: auto;
	margin-right: auto;
	
}