* {
	margin: 0;
	padding: 0;	
}

.index_background {
	background-image: url(../assets/images/foto_portada.jpg);
	height: 600px;
}

h2 {
	margin-bottom: 25px;
}

p {
	font-family: arial, sans-serif;
}

h5 {
	font-family: arial, sans-serif;
}

body {

	width: 100%;
	margin:auto;
}

section {
	width: 90%;
	margin: auto;
}

div div p a {
	text-decoration: none;
	color: black;
	font-weight: bold;
	font-size: 2rem;
	font-style: italic;
}

div div p a:hover {
	border-bottom: solid 1px #BFBFBF;
	color: black;
}

#portada_img_opacity {
	opacity: 0.75;
}

#envios {
	font-size: 2rem;
	color: #BFBFBF;
}

svg {
	color: #BFBFBF;
}

svg:hover {
	color: black;
}

.nosotros_texto {
	margin: 35px;
	width: 60%;
}