.nosotros_background {
	background-image: url(../assets/images/nosotros_background.jpg);
	height: 600px;
	width: auto;
}

.nosotros_titulo {
 	margin-top: 60%;
 	text-align: center;
}

.nosotros_texto {
	text-align: center;
}