.nosotros_background {
	background-image: url(../assets/images/nosotros_background.jpg);
	height: 600px;
	width: auto;
}

.nosotros_titulo {
 	margin-top: 60%;
 	text-align: center;
 	font-family: arial, sans-serif;
 	font-weight: bolder;
 	color: white;
 	background-color: #ffae38;;
 	padding: 2%;
 	transform: skewX(-20deg);
}

.nosotros_texto {
	text-align: center;
}